{% extends 'layouts/application.html' %}


{% block head %}
<style>
  #default-board > .Character-wrapper{
    width: 300px;
    height: 400px;
  }
  #data-board > .Character-wrapper {
    width: 240px;
    height: 360px;
  }
</style>
{% endblock %}
{% block content %}
	<div class="write">
    <div class="example">
      <h1>写字板</h1>
      <div class="board" id="default-board"></div>
    </div>
    <div class="example">
      <h1>展示</h1>
      <div class="board" id="data-board"></div>
    </div>
  </div>

{% endblock %}
