{% extends 'layouts/application.html' %}


{% block content %}
	<button class="mdc-button mdc-button--accent menu">
	  Colored button
	</button>
	
	<h1 class="mdc-typography--display1 mdc-typography--adjust-margin">
    大标题
  </h1>
  <p>容器container</p>
	<ul class="mdc-list">
	  <li class="mdc-list-item">第一项</li>
	  <li class="mdc-list-item">Single-line item</li>
	  <li class="mdc-list-item">Single-line item</li>
	</ul>

  <aside class="mdc-temporary-drawer mdc-typography">
    <nav class="mdc-temporary-drawer__drawer">
      <header class="mdc-temporary-drawer__header">
        <div class="mdc-temporary-drawer__header-content">
          Header here
        </div>
      </header>
      <nav id="icon-with-text-demo" class="mdc-temporary-drawer__content mdc-list">
        <a class="mdc-list-item mdc-temporary-drawer--selected" href="#">
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">inbox</i>Inbox
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Star
        </a>
      </nav>
    </nav>
  </aside>

{% endblock %}
